<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.ezeeworld.b4s.android.sample">

	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<uses-feature
		android:name="android.hardware.bluetooth_le"
		android:required="true" />

	<application
		android:name="com.ezeeworld.b4s.android.sdk.sample.SampleApp"
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name">

		<activity
			android:name="com.ezeeworld.b4s.android.sdk.sample.LaunchActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<receiver
			android:name="com.ezeeworld.b4s.android.sdk.sample.DeepLinkReceiver"
			tools:ignore="ExportedReceiver">
			<intent-filter>
				<action android:name="com.ezeeworld.b4s.android.sdk.notifications.DEEP_LINK" />
			</intent-filter>
		</receiver>
	</application>

</manifest>
