<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.ezeeworld.b4s.android.sample"
	android:versionCode="9"
	android:versionName="1.6.1" >

	<uses-sdk
		android:minSdkVersion="18"
		android:targetSdkVersion="23" />

	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<permission
		android:name="com.ezeeworld.b4s.android.sample.permission.C2D_MESSAGE"
		android:protectionLevel="signature" />
	<uses-permission android:name="com.ezeeworld.b4s.android.sample.permission.C2D_MESSAGE" />

	<uses-feature
		android:name="android.hardware.bluetooth_le"
		android:required="false" />
	
	<application
		android:name="com.ezeeworld.b4s.android.sdk.sample.SampleApp"
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name" >

		<activity
			android:name="com.ezeeworld.b4s.android.sdk.sample.LaunchActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<!-- Background monitoring for beacons -->
		<service
			android:name="com.ezeeworld.b4s.android.sdk.monitor.MonitoringManager"
			android:exported="true">
			<intent-filter>
				<action android:name="com.ezeeworld.b4s.android.sdk.monitor.B4S_ENSURE_SCANNING" />
				<action android:name="com.ezeeworld.b4s.android.sdk.monitor.B4S_QUERY_SCHEDULE" />
				<action android:name="com.ezeeworld.b4s.android.sdk.monitor.B4S_SCHEDULE_RESULT" />
			</intent-filter>
		</service>
		<service
			android:name="com.ezeeworld.b4s.android.sdk.monitor.ScanService"
			android:exported="false" />
		<service
			android:name="com.ezeeworld.b4s.android.sdk.monitor.InteractionService"
			android:exported="true">
			<intent-filter>
				<action android:name="com.ezeeworld.b4s.android.sdk.monitor.B4S_OBSERVATIONS" />
			</intent-filter>
		</service>
		<service
			android:name="com.ezeeworld.b4s.android.sdk.notifications.NotificationService"
			android:exported="false" />

		<activity
			android:name="com.ezeeworld.b4s.android.sdk.monitor.WebViewInteractionActivity"
			android:configChanges="orientation|keyboardHidden"
			android:exported="true"
			android:noHistory="true" />

		<receiver android:name="com.ezeeworld.b4s.android.sdk.monitor.SystemEventReceiver">
			<intent-filter>
				<action android:name="android.intent.action.ACTION_USER_PRESENT" />
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<!-- Push messaging -->
		<receiver
			android:name="com.google.android.gms.gcm.GcmReceiver"
			android:exported="true"
			android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="com.ezeeworld.b4s.android.sdk.gcm" />
			</intent-filter>
		</receiver>

		<service
			android:name="com.ezeeworld.b4s.android.sdk.push.GcmListenerService"
			android:exported="false">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
			</intent-filter>
		</service>
		<service
			android:name="com.ezeeworld.b4s.android.sdk.push.InstanceIDListenerService"
			android:exported="false">
			<intent-filter>
				<action android:name="com.google.android.gms.iid.InstanceID" />
			</intent-filter>
		</service>

		<!-- Google Play Location Services meta data -->
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />
	</application>

</manifest>
